
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background: #F0B429;
    color: white;
}
#contenedor{
    margin: auto;
}
header{
    width: 100%;
    background: #B3B3B3;
    text-align: center;
}

nav{
    background:#005883;
    height: 50px;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
   
}
.menu li{
  
    position: relative;  
    text-align: center;
    flex-grow: 1;
}
.menu li:hover{
    background: #B3B3B3;
}

.menu li a{
   
    display: block;
    padding: 15px 20x;
    color:white;
    text-decoration: none;
}

.menu > li{
    float: left;
    
}

.menu li ul{

    display: none;
    position: absolute;
    padding: 12px 40px;
    background: #F47920;
    width: 78%; 
  
}
 
.menu li:hover > ul{
    display: block;  
}

#contenido{
    padding: 20px;
    width: 70%;
    
   
    float: left;
    background: #F0B429;
}

aside{
    width: 25%;
    background: #F0B429;
    float: right;
}

footer{
    background: black;
    clear: both;
    padding: 20px;
    height: 20%;
    text-align: center;

}
